@use 'variables';
@use 'base';
@use 'navbar';
@use 'hero';
@use 'cards';
@use 'destinations';
@use 'packages';
@use 'form';
@use 'footer';
@use 'responsive';
.destination-card {
  background: #fff;
  color: #111;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  text-align: center;

  img {
    width: 100%;
    height: 220px;
    object-fit: cover;
  }

  h3 {
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
  }
}