* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #fdfefe;
  color: #1f2933;
}

img {
  max-width: 100%;
  display: block;
}

.fade-up {
  -webkit-animation: fadeUp 0.8s ease forwards;
          animation: fadeUp 0.8s ease forwards;
}

@-webkit-keyframes fadeUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
#menu a.active {
  color: #5fa8d3;
  font-weight: 600;
}