footer {
  background: #eef6fb;
  padding: 40px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .contactus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  font-size: 14px;
}
footer .contactus i {
  color: #5fa8d3;
}
footer .social-icons a {
  color: #5fa8d3;
  margin-right: 10px;
}